body{
    background-color: rgb(230, 233, 205);
    font-size: 20px;
    font-family: 'Ramabhadra','Merriweather'
   
}
h1{
    background-color: rgb(230, 162, 226);
    color: rgb(46, 36, 33);
}

h2{
    background-color: rgb(170, 113, 121);
    border: 5px;
    color: ;
}

h3{
    background-color: rgb(212, 211, 135);

}

ul, ol, li{
    background-color: rgb(180, 100, 116);
    font-size: 20px;
 
}

p{
    background-color: rgb(132, 202, 92);
    font-size: 20px
    
}

